[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "22"
  SITE_URL = "https://quark-charm.cl"
  OPENROUTER_API_KEY = "sk-or-v1-1ab...8ee"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
